html,
body {
  margin: 0;
  padding: 0;
  background-color: #0e1d2e;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #0e1d2e;
}

::-webkit-scrollbar-thumb {
  background-color: #9cbbfa;
  border-radius: 14px;
}